name: Run Newman and publish report

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  test-and-report:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Start backend
        run: |
          npm run start &
          sleep 5

      - name: Wait for server
        run: |
          for i in {1..10}; do
            curl --silent http://localhost:3000 && break
            echo "Waiting for server..."
            sleep 2
          done

      - name: Install Newman and reporter
        run: |
          npm install -g newman
          npm install -g newman-reporter-html

      - name: Create reports folder
        run: mkdir -p reports

      - name: Run Postman collection and generate HTML report
        run: |
          newman run store.postman_collection.json \
            -r html \
            --reporter-html-export reports/index.html

      - name: Deploy report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./reports
